:root {
  --primary-color: #6161c1;
  --secondary-color: #0f0d17;
  --text-color: #fff;
  --text-font-family: Avenir Next, Arial, sans-serif;
  --fade-transition: all 0.2s ease-in-out;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--text-font-family);
  background-color: var(--secondary-color);
  color: var(--text-color);
}
